@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

// Overrides
$dark-primary: #1f2330;
$dark-secondary: #2b3041;

$body-background-color: $dark-secondary;
$text: #eeeeee;
$family-primary: 'Poppins', sans-serif;
$link: #9fc4ff;
$link-hover: darken($link, 25);
$text-strong: $text;

$box-background-color: $dark-primary;
$navbar-dropdown-background-color: $dark-primary;
$navbar-divider-background-color: $dark-secondary;
$border: $body-background-color;

$card-background-color: $dark-secondary;
$card-footer-border-top: 1px solid $dark-primary;

// Import bulma
@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/elements/button.sass';
@import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/title.sass';
@import 'bulma/sass/elements/box.sass';
@import 'bulma/sass/elements/image.sass';
@import 'bulma/sass/components/navbar.sass';
@import 'bulma/sass/components/card.sass';
@import 'bulma/sass/grid/columns.sass';
@import 'bulma/sass/layout/section.sass';
@import 'bulma/sass/layout/footer.sass';
@import 'bulma/sass/helpers/_all.sass';

// Pages
@import './pages/pages';

// Components
@import 'components/components';

.adjusted-image {
    object-fit: cover;
    object-position: center;
}